/*
GENERAL SETTING
*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(0deg, #dadcdc 85%, #00a884 85%);
    font-family: 'Ubuntu', sans-serif;
}

.app_box{
    max-width: 1500px;
    margin: 25px auto;
    background-color: rgb(224, 224, 224);
    position: relative;
    border: 1px solid rgb(192, 192, 192);
}

.sidebar_left{
    width: 40%;
    min-height: 100%;
    position: relative;
}

.chat_message{
    min-height: 100%;
    width: 60%;
    position: relative;
}

.message_green{
    background-color: rgb(213, 249, 182);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 10px;
}

.message_white{
    background-color: white;
    padding-left: 15px;
    padding-right: 40px;
    border-radius: 10px;
}

.chat_message_cont{
    width: 100%;
    margin: 0;
    padding: 6px;
}

.sidebar_list_header{
    width: 100%;
    background-color: rgb(224, 224, 224);
    padding: 5px 15px;
    border-right: 1px solid rgb(197, 197, 197);
}

.chat_message_header{
    width: 100%;
    background-color: rgb(224, 224, 224);
    padding: 5px 15px;
}

.topbar_alert{
    width: 100%;
    background-color: rgb(35, 224, 209);
    padding: 5px 15px;
}

.search_bar_contact{
    width: 100%;
    background-color: rgb(224, 224, 224);
}

.sidebar_main{
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    height: 70vh
}

.chat_main{
    height: 80vh;
    width: 100%;
    background-image: url(../img/mine.jpg);
    padding: 60px;
    overflow-y: scroll;
}

.chat_footer{
    width: 100%;
    background-color: rgb(224, 224, 224);
    position: fixed;
    bottom: 0;
    position: absolute;
}

.user_contact {
    height: 60px;
    width: 200px;
    display: inline-block;
}

.menu_list_right{
    height: 60px;
    width: 200px;
    display: inline-block;
}

.menu_list_right{
    position: relative;
}

.icon li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.icon{
    position: absolute;
    top: 50%;
    right: -30%;
    transform: translate(-50%, -50%);
}

.icon a{
    margin-left: 20px;
    color: rgb(163, 163, 163);
}

.icon_footer{
    list-style: none;
    text-decoration: none;
    font-size: 23px;
    color: rgb(163, 163, 163)
}

.avatar{
    max-height: 55px;
    border-radius: 50%;
    display: inline-block;
}

.alert_notification{
    display: inline-block;
}

.icon_alert{
    position: relative;
    color: rgb(35, 224, 209);
}

.topbar_alert i{
    border-radius: 50%;
    padding: 15px 15px;
    background-color: white;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_alert {
    display: inline-block;
    font-size: 12px ;
}

.form_cotrol{
    width: 100%;
}

.icon_search{
    position: relative;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(163, 163, 163);

}

.icon_search i{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(163, 163, 163);
}

.sidebar_card{
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.user_card{
    height: 60px;
    width: 300px;
}

.active{
    background-color: rgb(226, 225, 225);
}

.sidebar_card:hover{
    background-color: rgb(236, 236, 236);
}

.bg_color_white{
    background-color: white;
}

.icon i{
    font-size: 23px;
}

.text_name {
    font-weight: bold;
    font-size: 15px;
}

.text_sub_message {
    font-size: 12px;
    color: rgb(163 , 163, 163);
}

.margin_b_date{
    margin-bottom: 0;
}

.sidebar_footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    position: absolute;
}

.error-message {
    color: red;
    margin-left: 80px;
}