/*
GENERAL SETTING
*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgb(217, 224, 157) 75%, rgb(0, 128, 79) 75%);
    font-family: 'Ubuntu', sans-serif;
}

.app_box{
    width: 80vw;
    margin: 10px auto;
    height: 90vh;
    background-color: red;   
}

.sidebar_left{
    height: 90vh;
    width: 40%;
    border: 1px dashed black;
    background-color: blue;
}

.chat_message{
    height: 90vh;
    width: 60%;
    border: 1px dashed black;
    background-color: rgb(255, 136, 0);
}

.sidebar_list_header{
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 255, 191);
}

.chat_message_header{
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 255, 191);
}

.topbar_alert{
    height: 10vh;
    width: 100%;
    background-color: rgb(255, 17, 0);
}

.sidebar_main{
    height: 70vh;
    width: 100%;
    background-color: rgb(255, 0, 200);
}

.chat_main{
    height: 70vh;
    width: 100%;
    background-color: rgb(255, 0, 200);
}