/*
GENERAL SETTING
*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgb(217, 224, 157) 75%, rgb(0, 128, 79) 75%);
}